
nav{
    float: left;
    margin: 0;
    overflow:hidden;
    text-align: center;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
}

nav > ul > li > a{
    color: #aaa;
    display: block;
    line-height: 2em;
    padding: 0.5em 1em;
    text-decoration: none;
}

.logo-img{
    float: left;
    position: relative;
    margin: 10px 15px 15px 10px;
}

.bg-div{
   background:#333;
   overflow: hidden;
}

.large{
    font-size: 40px;
}

.donate_btn{
    font-size: 24px;
    padding: 12px 28px;
    border-radius: 12px;
}

/*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}*/
/*html, body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#008cba; 
    height:100%;
}*/
.container{ 
   height:100%;
   display:flex;
   align-items:center;
   justify-content:center;
   padding-top: 100px;
}
.content{
    background-color:white;
    width:500px;
    height:500px;
}
.img1{
    width: 100%;
    height: 25%;
}

.form-title{
    padding:10px 40px 0px;
}
form{
    padding:0px 40px;
}
input[type=text], [type=email]{
    border: none;
    border-bottom: 1px solid black;
    outline:none;
    width:100%;
    margin: 8px 0;
    padding:10px 0;
}
input[type=number]{
    border: none;
    border-bottom: 1px solid black;
    outline:none;
    margin: 8px 0;
    padding:5px 0;
}
input :hover {
    background-color: red;
}
select{
    border: none;
    border-bottom: 1px solid black;
    outline:none;
    margin: 8px 0;
    padding:5px 0;
    width:50%;
}
.beside{
    display:flex;  
    justify-content: space-between;
}
.button1{
    color:#ffffff;
    background-color: #4caf50;
    height:40px;
    width:25%;
    margin-top:15px;
    cursor: pointer;
    border:none;
    border-radius:2%;
    outline:none;
    text-align:center;
    font-size:16px;
    text-decoration:none;
    -webkit-transition-duration:0.4s;
    transition-duration:0.4s;
}
button:hover{
    background-color:#333333;
}

body{
    background: linear-gradient(110deg, #ff00a6 60%, #ff00a6cc 60%);
}